<link rel="stylesheet" href="../assets/css/myFavorite.css">
<div id="favorites-container">
    <h1>Favorites</h1>
    <ul id="favorites-meal-list">
        <!--
         <li>
            <span> meal</span>
            <button> Remove Fav</button>
        </li>
       -->

    </ul>
</div>
<script src="../assets/js/myFavorite.js"></script>